<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Tarjetas de Habitación</title>
  </head>
  <body>
    <div class="habitaciones">
      <button (click)="seleccionarHabitacion(habitacion)" class="habitacion" *ngFor="let habitacion of habitaciones">
        <div class="imagen">
          <img
            src=".\assets\images\habitacion.jpg"
            alt="Habitación 1"
          />
        </div>
        <div class="titulo">
          <p>Habitación {{ habitacion.nombre }}</p>
        </div>
        <div class="contenido">
          <div class="signos">
            <ul>
              <li>Temperatura: {{ habitacion.temperatura }} C°</li>
              <li>Oxigeno: {{ habitacion.oxigeno }}</li>
              <li>Presión: {{ habitacion.presion }}/{{ habitacion.presiondias }}</li>
              <li>Ritmo cardiaco: {{ habitacion.ritmoCardiaco }}</li>
            </ul>
          </div>
        </div>
      </button>
    </div>
  </body>
</html>
